{% extends 'base.html' %}

{% block title home.title|e %}

{% block styles %} 
	<link rel="stylesheet" href="../web/res/css/home/home.css">
{% endblock %}

{% block content %}
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="left col-lg-6 col-sm-12">
					<button class="m-btn">Click</button>

				</div>
				<div class="right col-lg-6 col-sm-12"></div>
			</div>
		</div>
	</section> 
	<section id="preview">

		<div class="section-title">
			<h1 class="text-center color bold">Prices</h1>
			<p class="text-center bold color">Here at Florestal Enterprise we focus on competitive pricing and still provide quality work. Below is quick previews of previous works..</p>

		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 pr ">
					<div class="pv bx-sh">
						<div class="pv-header">
							<div class="label"><h3 class="text-center bold color">Roof</h3></div>
						</div>
						<div class="pv-body">
							<div class="pv-pic">
								<img  src=""/>
							</div>
							<div class="pv-tail"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 pr">
					<div class="pv bx-sh">
						<div class="pv-header">
							<div class="label"><h3 class="text-center bold color">Walls</h3></div>
						</div>
						<div class="pv-body">
							<div class="pv-pic">
								<img src="" />
							</div>
							<div class="pv-tail"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 pr">
					<div class="pv bx-sh">
						<div class="pv-header">
							<div class="label"><h3 class="text-center bold color">Driveway</h3></div>
						</div>
						<div class="pv-body">
							<div class="pv-pic">
								<img src="" />
							</div>
							<div class="pv-tail"></div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
{% endblock %}

{% block scripts %}
	<script></script>
{% endblock %}
