{% extends 'base.html.twig' %}


{% block styles %}
	<link rel="stylesheet" href="../web/res/css/default/offline.css" />
{% endblock %}
{% block header %} {% endblock %}
{% block content %}
<div class="section">
	<div class="m-auto p-top">
		<h3 class="red text-center">Sorry for the inconvenience. The website is under maintenance.</h3>
		<img class="img-responsive m-auto off-img" src="http://gifimage.net/wp-content/uploads/2017/10/construction-gif-11.gif">
	</div>
	<div class="m-auto p-top">
		
	</div>
	
</div>
{% endblock %}
