
section {
	background-color: white;
	min-height: 500px;
}

.intro-msg, .intro-img  {
	max-width: 400px;
	padding: 80px 20px 20px 20px;
	margin: auto !important;
}


.intro-img {
	height: 400px;
}

.img-sh {
	width: 100%;
	height: 100%;
}

.img-sh img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 5px solid #20c3ff;
}

.section-title p {
	font-size: 20px;
}

.left {
	height: 100%;
}

.section-title {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 50px;
	padding-bottom: 30px;
	width: 60%
	
}


.section-title:nth-child(1) {
	border-top: 1px solid #bcb4c4;
	
}

.pr:last-child {
	margin:auto;
}


.pv {
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #20c3ff;
	border: 1px solid #bcb4c4;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
}

.pv-header
{
	height: 15%;
}

.pv-body {
	border-top: 1px isolid #bcb4c4;
	height: 85%;
}

.pv-pic {
	height: 65%;
	overflow: hidden;
	background-color: white;
}

.pv-img {
	width: 95%;
	height: 95%;
	margin-top: 5px;
	margin-left: 8px;
}

.pv-tail {
	border-top: 1px solid #bcb4c4;
	height: 20%;
}

.pv-tail p {
	width: 70%;
	margin: 5px auto;
}

.md-img {
	width: 100%;
	height: 300px;
}

.md-img img {
	width: 100%;
	height: 100%;
}

.label {
	margin: 15px auto;
}


.nav-link {
	text-align: right;
}

#preview {
	background-color: white;
	padding-bottom: 80px;
}

@media only screen and (max-width:768px){
	.pv {
		max-width: 70%;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

}

@media only screen and (max-width:576px){

	.pv {
		max-width: 80%;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
}
