{% extends 'base.html' %}

{% block title %}
	Gallery
{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="../web/res/css/gallery/gallery.css"/>
{% endblock %}
{% block content %}
	<div class="gal-container">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<div class="sub-title ">Pressure Cleaning</div>
				</div>
				<div class="slide-container">
				</div>
			</div>
			<div class="row">
				<div class="section-title">
					<div class="sub-title ">Auto Cleaning & Detailing</div>
				</div>
				<div class="slide-container">
				</div>
			</div>
			<div class="row">
				<div class="section-title">
					<div class="sub-title ">Landscaping</div>
				</div>
				<div class="slide-container"></div>
			</div>
		</div>
	</div>
{% endblock %}
